footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #e8d7f1;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 10px;
}
