.h2yp{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color:  rgb(13, 1, 1);
    background-size: 0.5fr;
    opacity: 0.4;
    justify-content: center;
    padding-top: 10px;
}

.somos-smartcity{
    color: black;
    font-size: 40px;
    text-align: center;
    justify-content: center;
    align-items: flex-start;
}
.p-smartcity{
    color: rgb(35, 7, 247);
    font-size: 23px;
    text-align: center;
}
.main-index{
    padding-top: 10%;
}